---
import Layout from '../layouts/Layout.astro';
import GameCard from '../components/GameCard.astro';
import { getLastestPost, getPageInfo } from '../lib/wp';

const  { title, content } = await getPageInfo("pagina-de-inicio");
const posts = await getLastestPost({ perPage: 3 })
---

<Layout title='GameHub -Tu web de noticias'>
	<section class="bg-black text-white py-20">
		<div class="container mx-auto px-4 text-center">
			<h1 class="text-5xl font-bold mb-6">{title}</h1>
			<div class="text-xl max-w-2xl mx-auto" set:html={content} />
		</div>
	</section>
	<section class="container mx-auto px-4 py-12">
		<h2 class="text-3xl font-bold mb-8 text-center">Últimos artículos</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			{posts.map((post)=> <GameCard {...post} />)}
		</div>
	</section>
</Layout>
