---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import { getAllPostsSlugs, getPostInfo } from '../../lib/wp';

const slug = Astro.params.slug
if(!slug) return Astro.redirect("/404")

export async function getStaticPaths () {
    const slugs = await getAllPostsSlugs()
    return slugs.map((slug) => ({ params: { slug } }));
}

const  { title, content, seo } = await getPostInfo(slug);
---

<Layout title={title} description={seo.description}>
    <article class="prose max-w-2xl mx-auto mt-24">
        <h1>{title}</h1>
        <div set:html={content} />
    </article>
</Layout>